#header {
    position: fixed;
    border-bottom: 1px #ccc solid;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: #fff;
}

#content {
    margin-top: 56px;
}

.box-password {
    position: relative;
}

.box-password-confirm {
    position: relative;
}

.show-password-btn,
.show-password-confirm-btn {
    position: absolute;
    right: 0;
    z-index: 100;
}

#signin-password,
#signup-password,
#signup-password-confirm {
    padding-right: 44px;
}

#signin-form {
    margin-bottom: 24px;
}

#signup-form {
    margin-bottom: 24px;
}

#signin-social {
    border-top: 1px solid #ccc;
    padding-top: 24px;
}

#footer {
    margin-top: 16px;
    padding: 40px 0;
    border-top: 1px solid #ccc;
    text-align: center;
}

.category-section {
    padding: 24px 0;
    border-bottom: 1px solid #ccc;
}

.top-list-product {
    padding-top: 24px;
    padding-bottom: 16px;
}

.card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    max-width: 180px;
}

.card-product-img {
    width: 100%;
    height: 200px;
    object-position: center;
    border-top-left-radius: .375rem;
    border-top-right-radius: .375rem;
}

.card-product-info p {
    font-size: 0.9rem;
    margin-bottom: 0.25rem;
    color: #555;
}

.card-product-info .btn {
    margin-top: 0.5rem;
}