#header {
    position: fixed;
    border-bottom: 1px #ccc solid;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: #fff;
}

#content {
    margin-top: 56px;
}

.box-password {
    position: relative;
}

.box-password-confirm {
    position: relative;
}

.show-password-btn,
.show-password-confirm-btn {
    position: absolute;
    right: 0;
    z-index: 100;
}

#signin-password,
#signup-password,
#signup-password-confirm {
    padding-right: 44px;
}

#signin-form {
    margin-bottom: 24px;
}

#signup-form {
    margin-bottom: 24px;
}

#signin-social {
    border-top: 1px solid #ccc;
    padding-top: 24px;
}