<div class="d-flex justify-content-center">

    <div class="col-5">
        <form>
            <div class="mb-3">
                <label for="input-otp-verify" class="form-label">OTP Verify</label>
                <input type="text" class="form-control" id="input-otp-verify" name="otp">
            </div>
            <button type="submit" class="btn btn-primary">Verify</button>
        </form>
    </div>
</div>