{{#section "js"}}
<script>
    const showPasswordBtn = document.querySelector(".show-password-btn");
    const inputPassword = document.querySelector("#signup-password");
    const showPasswordConfirmBtn = document.querySelector(".show-password-confirm-btn");
    const inputPasswordConfirm = document.querySelector("#signup-password-confirm");

    showPasswordBtn.onclick = function (event) {
        event.preventDefault();
        if (inputPassword.type == "password") {
            inputPassword.type = "text";
        }
        else if (inputPassword.type == "text") {
            inputPassword.type = "password";
        }
    }

    showPasswordConfirmBtn.onclick = function (event) {
        event.preventDefault();
        if (inputPasswordConfirm.type == "password") {
            inputPasswordConfirm.type = "text";
        }
        else if (inputPasswordConfirm.type == "text") {
            inputPasswordConfirm.type = "password";
        }
    }
</script>
{{/section}}


<div class="row g-5 pt-4 pb-4">
    <div class="col-4">
        <h3 style="text-align: center;">Sign up</h3>
        <form id="signup-form" action="/auth/signup" method="POST">
            <div class="mb-3">
                <label for="signup-email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="signup-email" aria-describedby="emailHelp" name="email">
                <p class=""></p>
            </div>
            <div class="mb-3">
                <label for="signup-username" class="form-label">Name</label>
                <input type="text" class="form-control" id="signup-username" name="username">
                <p class=""></p>
            </div>
            <div class="mb-3">
                <label for="signup-password" class="form-label">Password</label>
                <div class="box-password d-flex justify-content-between">
                    <input type="password" class="form-control" id="signup-password" name="password">
                    <button class="show-password-btn btn"><i class="bi bi-eye"></i></button>
                </div>
            </div>
            <div class="mb-3">
                <label for="signup-password-confirm" class="form-label">Confirm password</label>
                <div class="box-password-confirm d-flex justify-content-between">
                    <input type="password" class="form-control" id="signup-password-confirm" name="passwordConfirm">
                    <button class="show-password-confirm-btn btn"><i class="bi bi-eye"></i></button>
                </div>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Sign up</button>
            <a href="/auth/signin" class="btn btn-outline-secondary">Sign in</a>
        </form>
        <div id="signin-social" class="">
            <p class="flex-1">Sign up with</p>
            <div class="d-flex justify-content-around">
                <a href="/auth/google" class="btn btn-outline-warning">Google</a>
                <a href="" class="btn btn-outline-primary">Facebook</a>
                <a href="" class="btn btn-outline-secondary">Github</a>
            </div>
        </div>
    </div>
    <div class="col-8">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit necessitatibus nihil voluptatem, nam suscipit,
            reiciendis nemo quaerat doloremque sint consectetur expedita libero quasi facilis soluta in dolorem aperiam,
            provident quidem?</p>
    </div>
</div>